.today-container {
    margin-top: -300px;
    background: rgb(0, 0, 0);
    color: white;
    width: 100%;
    height: 100%;
    margin-bottom: 180px;
    padding: 25px; /* Ensure padding is applied */
  }
  
  .expenses {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
  }
  
  .expenses .input-expenses {
    font-weight: 600;
    font-size: 20px;
  }
  
  .today {
    margin-bottom: -20px;
    font-size: 25px;
    font-weight: 600;
    font-size: 18px;
    color: rgb(96, 96, 96);
    padding-left: -5px; /* Ensure padding is applied */
  }

  .today p{
    margin-top: -30px;
    margin-bottom: 45px;
  }
  
  .amount p {
    margin-left: 230px;
    font-size: 20px;
    color: rgb(243, 99, 99);
    margin-top: 10px;
  }
  
  .expenses .time {
    color: grey;
    margin-left: 55px;
    margin-bottom: 5px;
  }

  .time{
    display: flex;
    flex-direction: column;
  }
  
  
  .input-emoji {
    font-size: 35px;
    position: absolute;
    margin-left: -5px;
  }
  
  .input-tag {
    margin-left: 55px;
  }
  
  .no-expenses {
    padding-left: 282px; /* Ensure padding is applied */
    color: grey;
    font-size: 16px;
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  @media screen and (max-width: 650px){
    .amount p {
      margin-left: 310px;
      margin-top: 10px;
    }
  }

  @media screen and (max-width: 550px){
    .amount p {
      margin-left: 200px;
      margin-top: 10px;
    }
  }
  
  @media screen and (max-width: 450px){
    .amount p {
      margin-left: 160px;
      margin-top: 10px;
      padding: 0 -20px;
    }
  }

  @media screen and (max-width: 431px){
    .amount p {
      margin-left: 150px;
      margin-top: 10px;
    }
  }

  @media screen and (max-width: 390px){
    .amount p {
      margin-left: 110px;
      margin-top: 10px;
    }
  }
  